* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
#app,
body {
  font-family: $font-family;
  height: 100%;
}

html {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}