$font-family: Lato, Arial;
$input-padding: 0.6rem 0.75rem;
$input-size: 1rem;
$input-color: #ffffff;
$input-bg: transparent;
$input-border-width: 1px;
$input-border-color: #ffffff;
$input-border-radius: .25rem;

$input-focus-color: #eeeeee;
$input-focus-bg: transparent;
$input-focus-border-color: #ccc;